.entire{
    background-image: url(/images/pexels-photo-1020370.webp);
    background-repeat:no-repeat ;
    background-size: cover;
}

.left,
.right{
    display:inline-block;
    width:48%;
    vertical-align: top;
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .details{
    color: black;
  }